*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100%;
    object-fit: contain;
}

h1,h2,p {
    margin: 0;
}

#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.076);
}

#ttimg{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#title{
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    color: white;
  text-align: center;
}

#coin-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

.coinIptCont{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



select{
    font-size: 1rem;
    height: 35px;
    border-radius: 0.5rem;
    outline: none; 
    color: rgb(146, 144, 144);
}

#coin-info{
    color: white;
    font-size: 1.2rem;
}


#coin-form{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}

.coinInput{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
}

#formBtn{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00a5c2;
    color: white;
    transition: all 0.2s ease-in-out;
}

#formBtn:hover{
background-color: #03c6e0;
}

#coinInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.price{
    font-weight: 700;
}

body{
    margin: 0;
    background-color: #050505;
    background-position: center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:  0;
    margin: 0;
    background-color: #202020;
    border-top: none;
    z-index: 10;
     
   }
   
   footer h3 {
    margin: 0;
    font-size: 1.5rem; 
}

   footer a{
   align-self: center;
   }
   
   
   footer img{
    
     height: 2.4rem;
     width: 2.4rem;
     
   }

   .Link-Container{
    display: flex;
    
  }
  
  .Links{
    display: flex;
   justify-content: center;
   gap: 50px;
    padding-bottom: 0.5rem;
    
  }


  #favicon{
    height: 16px;
    width: 16px;
  }


  .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
  }

  h3{
    color: white;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  @media (max-width:450px){
#leftImg{
    display: none;
}

#container{
    flex-direction: column;
    
    padding: 0;
    margin: 0;
    gap: 0;
}

#title{
    align-self: center;
    font-size: 4rem;
    margin: auto;
}

#coin-form{
    font-size: 1.2rem;
}

#coin-container{
    width: 80%;
}

select{
    font-size: 0.8rem;
}

#coinInfo{
    font-size: 0.8rem;
}
  
imag {
    display: none;
}
    
}